<!-- following https://www.dnrme.qld.gov.au/mining-resources/initiatives/qld-mine-safety-framework -->
<!DOCTYPE html>
    {% set header = organisation_branding + '/header.html' %}
    {% set footer = organisation_branding + '/footer.html' %}
    {% set nav = organisation_branding + '/nav.html' %}
    {% set css = organisation_branding + '_theme.css' %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='master.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='extra.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename=css)}}" />
    <link href="https://fonts.googleapis.com/css?family=Heebo:300,700" rel="stylesheet">
</head>
    {% include header %}
<body>
       <div class="breadcrumbs" style="height:75px; padding-top:30px; text-align:center;">
        <div id="inner flex" style="margin: 0 auto; width:1245px; text-align:left;">
            {% for nav in navs %}
                {{ nav|safe }}
            {% endfor %}
            <a href="{{ url_for('routes.index') }}">System Home</a> /
            <a href="{{ url_for('routes.vocabularies') }}">Vocabularies</a> /
            <a href="{{ url_for('routes.about') }}">About</a>
        </div>
    </div>

    <div id="container-content" style="text-align:center;">
        <div style="margin: 0 auto; width:1245px; text-align:left;" class="content">
            {% block content %}{% endblock %}
        </div>
    </div>

       {% include footer %}
</body>
</html>
